
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">餐廳資料</h3>
  </div>
  <div class="panel-body">
		
		<p><%= link_to "返回", :back, :class => "btn btn-lg btn-primary" %></p>
	</div>
</div>
	